body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #56a7af;
  color: white;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.3);
}

.header-above {
  font-size: 2rem;
}

.header-below {
  font-family: 'Libre Baskerville', serif;
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1rem;
  text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.3);
}

main {
  letter-spacing: 0.05rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 0.5rem;
}

footer {
  font-family: 'Libre Baskerville', serif;
  margin-top: 5rem;
}

.icon {
  margin-right: 1rem;
}

.separator-invisible {
  font-size: 0;
}
