body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #56a7af;
  color: white;
	text-shadow: 2px 2px 15px rgba(15, 15, 15, 0.47);
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 100%;
  background-image: url(../img/flowers.svg);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: center;
  background-blend-mode: soft-light;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3rem;
}

.header-above {
  font-size: 2rem;
}

.header-below {
  font-family: 'Libre Baskerville', serif;
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1rem;
  text-shadow: 2px 2px 15px rgba(15, 15, 15, 0.3);
}

main {
  letter-spacing: 0.05rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 0.5rem;
}

footer {
  font-family: 'Libre Baskerville', serif;
  margin-top: 5rem;
}

.icon-container {
  font-size: 2rem;
}

.separator-invisible {
  font-size: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
}

.contact-line {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.contact-item {
  overflow-wrap: anywhere;
}
